@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Raleway');

{
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    background: #ffefe0;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* Style the top navigation bar */
.topnav {
    font-family: 'Slabo 27px', serif;
    overflow: hidden;
    background-color: #c5c5c5;
    text-align: center;
}
    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 5%;
        text-decoration: none;
    }
        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

/* Add a card effect for articles */
/*.card {
    background-color: #c5c5c5;
    padding: 20px;
    margin-top: 20px;
}*/

/*Footer*/



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
/********************/

.fbPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Header/Blog Title */

.fbHeader {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    background: #fed9ca;
}

.fbPageHeader {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    background: #ffefe0;
    font-size: 75%;
}

.fbImage {
}

img {
    width: 100%;
    height: auto;
}

.fbFacts {
}

.fbTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.tcol50 {
    width: 50%;
}

.fbFooter {
    text-align: center;
    padding: 5%;
    text-align: center;
    background: #c5c5c5;
    margin-top: 20px;
    font-family: 'Slabo 27px', serif;
}

.fbfl {
    padding: 5px;
    color: black;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

